clasificacion/temporadas.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="temporadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="temporada" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="año"/>
              <xs:element type="xs:string" name="estado"/>
            </xs:sequence>
            <xs:attribute type="xs:integer" name="id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>