xml/resultados.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resultados">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="jornada" maxOccurs="10" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="orden"/>
              <xs:element name="partido" maxOccurs="3" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="logo_local">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="image"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:integer" name="puntos_local"/>
                    <xs:element type="xs:integer" name="puntos_visitante"/>
                    <xs:element name="logo_visitante">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="image"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="fecha"/>
                    <xs:element type="xs:string" name="hora"/>
                    <xs:element type="xs:string" name="estadio"/>
                    <xs:element type="xs:string" name="ciudad"/>
                  </xs:sequence>
                  <xs:attribute type="xs:integer" name="id"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:integer" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>