equipos/equipos.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="equipos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="equipo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre" />
              <xs:element type="xs:integer" name="partidos" />
              <xs:element type="xs:integer" name="victorias" />
              <xs:element type="xs:integer" name="derrotas" />
              <xs:element type="xs:integer" name="empates" />
              <xs:element type="xs:integer" name="fundacion" />
              <xs:element type="xs:string" name="estadio" />
              <xs:element type="xs:string" name="eslogan" />
              <xs:element type="xs:string" name="logo" />
            </xs:sequence>
            <xs:attribute type="xs:integer" name="id"/>
          </xs:complexType>
        </xs:element >
      </xs:sequence>
    </xs:complexType> 
  </xs:element>
</xs:schema>